@font-face {
	font-family: 'OpenSans';
	src: url("../fonts/OpenSans-Regular.ttf");
	font-size: 1em;
}
@font-face {
	font-family: 'OpenSans-Light';
	src: url("../fonts/OpenSans-Light.ttf");
	font-size: 1em;
}
header {
	width: 100%;
	height: 250px;
	background-color: #12A5B3;
    position: relative;
}
header #logo{
	position: absolute;
	float: left;
	top: 12px;
	left: 70px;
}
header .cabecalho h1{
	position: relative;
	top: 90px;
	left: 300px;
	color: #fff;
}
header .cabecalho h3{
	position: relative;
	top: 95px;
	left: 300px;
	color: #fff;
}